/**
 * @name Youtube0-Darkrange Theme
 * @version 2.5.0
 * @description A Simple & Modern Dark theme
 * @author MyQ#4052
 * 
 * @website https://github.com/MIQCRAFT/Darkrange
 * @source https://github.com/MIQCRAFT/Darkrange
 * @donate https://www.paypal.com/paypalme/miqcraftpaypal
 */

@import url("https://miqcraft-theme.netlify.app/theme/youtube.css");
